<div class="sidebar-recolhida">
  <div *ngIf="!isExpanded">
    <ul  >
      <li><mv-avatar></mv-avatar></li>
      <li *ngFor="let i of data">
        <span *ngIf="i.type == 'link'">
          <mat-icon [matTooltip]="i.name">{{i.icon}}</mat-icon>
        </span>
        <span
        (click)="menuTrigger.openMenu()"
        *ngIf="i.type == 'pasta'">
          <mat-icon
          [matMenuTriggerFor]="menu"
          #menuTrigger="matMenuTrigger"   [matTooltip]="i.name">{{i.icon}}</mat-icon>
          <mat-menu  #menu="matMenu">
            <button *ngFor=" let item of i.children" mat-menu-item>
            <mat-icon>{{item.icon}}</mat-icon>
              {{' '+ item.name}}
            </button>
          </mat-menu>
        </span>
      </li>
    </ul>
  </div>



<div *ngIf="isExpanded">
  <mv-avatar></mv-avatar>
  <app-mv-tree ></app-mv-tree>
</div>

<span class="expansor" (click)="toggleSideBar()"><strong>>></strong></span>
</div>
