
<div class="row d-flex justify-content-center col-12">
    <span class="card col-lg-3 col-md-5 col-sm-11 m-1" *ngFor="let i of produto;index as y">
        <img class="img-thumbnail" height="400px" width="400px" [src]="i.src.medium" [alt]="i.alt">
        <div class="card-body">
            <h5 class="class-title">{{i.alt.substring(0,8)}}</h5>
            <p>{{i.alt}}</p>
            <img (click)="emitirEvento(i.id)" [src]="i.liked ? './../../../assets/icons/star-fill.svg' : './../../../assets/icons/star.svg' ">
            
            
        </div>
        <a href="#" [ngClass]="i.liked ? 'btn btn-primary' : 'btn btn-danger' " class="">Go product</a>
        <ng-content select=".senhor"></ng-content>
    </span>
</div>
