<mat-card class="cardWrapper">
  <h3>
    <ng-content></ng-content>
  </h3>
    <ul>
      <li *ngFor="let i of task; index as y">
       <mat-card class="task-card">
        <span>
        <strong>
          {{i.id}}
        </strong>
        </span>
        <div class="task-desc">
          <mat-icon
          style="cursor: pointer;" *ngIf="estado != 'nIniciado'" (click)="toggleItem(y,'left')">keyboard_arrow_left</mat-icon>
          <span>{{i.name}}</span>
          <mat-icon  style="cursor: pointer;" *ngIf="estado != 'finalizado'"  (click)="toggleItem(y,'right')">keyboard_arrow_right</mat-icon>
        </div>
        </mat-card>
      </li>
    </ul>

</mat-card>
