<mv-notify></mv-notify>
<div class="loginContainerWrapper">
  <mat-card class="loginContainer">

    <mat-card-title>
      <h1>Login</h1>
    </mat-card-title>

    <app-inputtext
    [nameField]="'Email'"
      [type]="'text'"
      [control]="this.login"
      [mensagem]="this.displayMessage['login']"
      (selected)="getLogin()">
  </app-inputtext>
    <app-inputtext
    [nameField]="'Senha'"
      [type]="'password'"
      [control]="this.senha"
      [mensagem]="this.displayMessage['senha']"
      (selected)="getPassword()">
  </app-inputtext>
      <button mat-raised-button color="primary" (click)="loginUser()">OK</button>
  </mat-card>

</div>
