<mat-form-field appearance="outline">
  <mat-label *ngIf="nameField">{{nameField ? nameField:''}}</mat-label>
  <mat-select
  (closed)="handleDataChange($event)"
  [placeholder]="nameField"
  [formControl]="control"
  class="ng-valid"
  [multiple]="mutiplo"
  #select >
  <mat-option (click)="selectItem(i)" *ngFor="let i of list" [value]="i">
    {{i.label}}
    </mat-option>
  </mat-select>

  <mat-error *ngIf="control.errors">
    {{mensagem.mensagem}}
  </mat-error>

  <mat-hint *ngIf="mensagem && mensagem.mensagemTipo == 'sucsess' || mensagem.mensagemTipo == 'warn'">
    {{mensagem.mensagem}}
  </mat-hint>

