<div class="ui-textbox-label">
    <div class="box-label">
     <!--

      -->

        <!-- Criação do Dropdown
            baseada no sistema do prime NG

            -- Emição de saída
        -->
       <!--  <input type="text" [(ngModel)]="pesquisa" (input)="filterItems()" placeholder="Search...">
        <select>
          <option *ngFor="let item of filteredItems" [value]="item.value">{{ item.label }}</option>
        </select> -->
<!--


        <input
        type="text"
        [(ngModel)]="pesquisa"
        (keyup)="filterItems()"
        placeholder="Search...">

        <select>
          <option value=""></option>
          <option *ngFor="let i of listaa">
              {{i.label}}
          </option>
        </select>


 -->
<div class="search-dropdown" [ngClass]="{'open':shown && lista != undefined && lista.length != 0}">
  <div class="search-dropdown__btn" (click)="show()"><span></span></div>
  <div class="search-dropdown__dropdown">
    <input
    type="text"
    class="search-dropdown__dropdown__search"
    placeholder="Search"
    [(ngModel)]="keyword"
    (keyup)="search(keyword)"
    #input>
    <div class="search-dropdown__dropdown__scroller">
      <div class="search-dropdown__dropdown__item"
      *ngFor="let item of lista" (click)="select(item)">
         {{item.label}}
      </div>
      <div class="search-dropdown__dropdown__msg" *ngIf="lista.length == 0">No Result Found</div>
    </div>

  </div>

</div>
<!--
        <app-mensagem
        [mensagem]="msg.mensagem"
        [mensagemTipo]="msg.mensageTipo">
        </app-mensagem>
 -->
    </div>
</div>
