<div>
  <h2 class="header">Estudos de Pipes</h2>

  <form  [formGroup]="formPipes" class="gridMain">
  <div class="item">
    <app-inputtext
      [control]="this.nome"
      [disab]="false"
      [mensagem]="this.displayMessage['nome']"
      [nameField]="'Nome'"
      (selected)="getValidations()">
    </app-inputtext>
  </div>
  <div class="item">
    <app-inputtext
      [control]="this.dataNascimento"
      [disab]="false"
      [mensagem]="this.displayMessage['dataNascimento']"
      [nameField]="'Data de Nascimento'"
      (selected)="getValidations()">
    </app-inputtext>
  </div>
  <div class="item">
    <app-inputtext
      [control]="this.email"
      [disab]="false"
      [mensagem]="this.displayMessage['email']"
      [nameField]="'Email'"
      (selected)="getValidations()">
    </app-inputtext>
  </div>
  <div class="item">
    <app-inputtext
      [control]="this.telefone"
      [disab]="false"
      [mensagem]="this.displayMessage['telefone']"
      [nameField]="'Telefone'"
      (selected)="getValidations()">
    </app-inputtext>
  </div>
  <div>
    <mv-button (click)="submit()">
      Enviar
    </mv-button>
  </div>
</form>
<div>
  <div>
    <mat-label>Filter</mat-label>
    <input [formControl]="filtro" matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>

  </div>

</div>
<div class="table">
  <div class="mat-elevation-z8">

    <table mat-table class="full-width-table" matSort aria-label="Elements">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row">{{row.title | titlecase}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Thumbnail</th>
        <td mat-cell *matCellDef="let row"><img [src]="row.thumbnailUrl"></td>
      </ng-container>

      <ng-container matColumnDef="thumbnailUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row">{{dataDeHoje | date:"dd/mm/yyyy"}}</td>
      </ng-container>

      <ng-container matColumnDef="dineiro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dinheiro</th>
        <td mat-cell *matCellDef="let row">{{row.dineiro | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</td>
      </ng-container>

      <ng-container matColumnDef="tamain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>TamanhoARQ</th>
        <td mat-cell *matCellDef="let row">{{row.bites | fileSize }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

      <tr class="mat-row" matNoDataRow>
        <td class="mat-cell" colspan="4">No data maching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator
    #paginator
    [pageSizeOptions]="[5,10,20,50,100]"
    [length]="dataSource!.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    showFirstLastButtons
    aria-label="Seelect bla bla"></mat-paginator>
  </div>
</div>



</div>
