<mat-sidenav-container>
  <mat-sidenav style="position: fixed;padding: 2rem
  ;" #sideBar mode="side">
    <!-- Fechamento Click / NavBar -->
      <button (click)="sideBar.toggle()" id="close" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>clear</mat-icon>
      </button>
      <!-- Three Layout -->
      <app-mv-tree style="padding: 2rem;">
      </app-mv-tree>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar
      style=
      "display: flex;
      justify-content: space-between;
      align-items: center;">
        <!-- Abertura Click / NavBar -->

        <div style="display: flex; align-items: center;" class="menuToggle">
          <button id="MenuToggle" (click)="sideBar.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
            <img height="70px" width="90px" src="../../../assets/imgs/Logo_MV_844x348_Colorida_CMYK.png">
        </div>

        <button [mat-menu-trigger-for]="menu" mat-icon-button style="display: flex; align-items: center;" class="avatarUser">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
          <mat-slide-toggle>
        Slide me!
      </mat-slide-toggle>
        </mat-menu>


      </mat-toolbar>
      <ng-content>
      </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
