<!-- <ul class="topics">
  <li>
    <button routerLink="/rxjsobsevables">
      RxJS Observables
    </button>
  </li>

  <li>
    <button routerLink="/reactiveForms">
     Reactive Forms
    </button>
  </li>
</ul> -->


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/rxjsobsevables">Observables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/reactiveForms">Reactive Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/produtos">Produtos (Estudo de componente)</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>