// Brand colors
$color-brand-primary-darkest: #263757;
$color-brand-primary-dark: #1a3157;
$color-brand-primary-medium: #0c9176;
$color-brand-primary-light: #10deb5;
$color-brand-primary-lightest: #12ffdf;

$color-brand-secondary-darkest: #B88714;
$color-brand-secondary-dark: #DCA218;
$color-brand-secondary-medium: #E8B235;
$color-brand-secondary-light: #EDC15A;
$color-brand-secondary-lightest: #F1CE7E;

// Neutral colors
$color-neutral-darkest: #111111;
$color-neutral-dark: #525252;
$color-neutral-medium: #919191;
$color-neutral-light: #D1D1D1;
$color-neutral-lightest: #FFFFFF;


// Feedback colors
$color-feedback-danger-dark: #871E1E;
$color-feedback-danger-medium: #D32F2F;
$color-feedback-danger-light: #FDECEA;

$color-feedback-success-dark: #35521D;
$color-feedback-success-medium: #689F38;
$color-feedback-success-light: #EDF7ED;

$color-feedback-warning-dark: #663C1B;
$color-feedback-warning-medium: #E86E17;
$color-feedback-warning-light: #FFF4E5;

$color-feedback-info-dark: #003166;
$color-feedback-info-medium: #004FA3;
$color-feedback-info-light: #EBF4FF;

//Palete
$mv-light-palette:(
  50:#12ffdf,
  100:#10deb5,
  200:#0db896,
  300:#0c9176,
  400:#06614f,
  500:#0c5c4c,
  600:#064d3e,
  700:#064639,
  800:#063b31,
  900:#042c24,
  A100:#042921,
  A200:#03221c,
  contrast:(
    50:$color-neutral-darkest,
    100:$color-neutral-darkest,
    200:$color-neutral-darkest,
    300:$color-neutral-darkest,
    400:$color-neutral-lightest,
    500:$color-neutral-lightest,
    600:$color-neutral-lightest,
    700:$color-neutral-lightest,
    800:$color-neutral-lightest,
    900:$color-neutral-lightest,
    A100:$color-neutral-lightest,
    A200:$color-neutral-lightest,
  )
)
