<form action="get">
    <div>
        
        <label for="Nome">Nome</label>
        <input class="form-control" type="text" id="Nome">
    </div>

    <div>
        
        <label for="Email">Email</label>
        <input class="form-control" type="text" id="Email">
    </div>

    <div>
        
        <label for="CPF">CPF</label>
        <input class="form-control" type="text" id="CPF">
    </div>

    <div>
        
        <label for="Numero">Numero</label>
        <input class="form-control" type="text" id="Num">
    </div>
</form>