
<div class="form-Wrapper">
    <h1>Registrar</h1>
    <hr>

<form action="get" autocomplete="off"  [formGroup]="registroForm">
    <div>
        <label for="Nome">Nome</label>
        <input
        formControlName="nome"
        class="form-control"
        [ngClass]="{'is-invalid':displayMessage['nome']?.mensagem}"
        type="text"
        id="Nome"
        >
        <div  class="text-danger" *ngIf="displayMessage['nome']">
            <p [innerHTML]="displayMessage['nome']?.mensagem"></p>
        </div>
    </div>

    <div>
        <label for="Email">Email</label>
        <input class="form-control"
        [ngClass]="{'is-invalid':displayMessage['email']}"
        formControlName="email"
        type="text" id="Email">
        <div class="text-danger" *ngIf="displayMessage['email']">
            <p [innerHTML]="displayMessage['email']?.mensagem"></p>
        </div>
    </div>

    <div>

        <label for="CPF">CPF</label>
        <input
        formControlName="cpf"
        class="form-control"
        [ngClass]="{'is-invalid':displayMessage['cpf']}"
        type="text" id="CPF">
        <div class="text-danger" *ngIf="displayMessage['cpf']">
            <p [innerHTML]="displayMessage['cpf']?.mensagem"></p>
        </div>
    </div>

    <div>

        <label for="Numero">Senha</label>
        <input
         class="form-control"
         formControlName="senha"
         [ngClass]="{'is-invalid':displayMessage['senha']}"
          type="password" id="Num">
          <span class="text-danger" *ngIf="displayMessage['senha']">
                <p [innerHTML]="displayMessage['senha']?.mensagem"></p>
          </span>
    </div>


    <div>

        <label for="Numero">Senha confirmação</label>
        <input
         class="form-control"
         formControlName="senhaConfirm"
         [ngClass]="{'is-invalid':displayMessage['senhaConfirm']}"
        type="password">
        <span class="text-danger" *ngIf="displayMessage['senhaConfirm']">
        <p [innerHTML]="displayMessage['senhaConfirm']?.mensagem"></p>
        </span>
    </div>

    <button (click)="addUser()" id="submit" class="btn btn-success"> Submit</button>
    <button (click)="registroForm.reset()" class="btn btn-danger">Limpar</button>

    <div>
        <p>Formulário valido ?{{ registroForm.valid}}</p>
        <p>Formulário tocado ?{{ registroForm.touched}}</p>
        <p>Formulário Sujo ?{{ registroForm.dirty}}</p>
    </div>

</form>

</div>
