.type-icon {
  color: #2c2c2c;
  margin-right: 5px;
}


mat-tree-node{
background: #0c9176;
  transition: .5s ease;
  padding: 0.3rem;
  box-sizing: border-box;

  &:hover{

      cursor: pointer;
  }
}
.mat-tree-node.cdk-tree-node.ng-star-inserted{
  transition: .5s ease;
}

