
<div style="
display: flex;
justify-content: center;">


<mat-tab-group>
  <mat-tab label="Ng2 Charts">
    <div class="dashGrid">
    <mat-card>
      <mat-card-header>
        Bar Chart
      </mat-card-header>
        <mat-card-content>
            <canvas
              baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [type]="'bar'">
          </canvas>
        </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        Pie chart
      </mat-card-header>
      <mat-card-content>
        <canvas baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </mat-card-content>
  </mat-card>

  <mat-card>

    <mat-card-header>
      Pie chart
    </mat-card-header>
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>
    </div>

  </mat-card>

  <mat-card>
    <mat-card-header>
      Scatter Chart
    </mat-card-header>
    <canvas baseChart
    [datasets]="scatterChartDatasets"
    [options]="scatterChartOptions"
    [type]="'scatter'">
</canvas>

  </mat-card>
  </div>
  </mat-tab>
  <mat-tab label="Ngx Charts">
    <button mat-button style="width: 100%; margin: 1rem 0rem 1rem 0rem ;" (click)="randomValueNgxCharts(this.single)" >
      Randomize
    </button>
    <div class="dashGrid">

      <mat-card>
        <mat-card-header>
          Bar Chart
        </mat-card-header>
        <mat-card-content>
          <ngx-charts-bar-vertical
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [xAxis]="true"
          [yAxis]="false"
          [legend]="false"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
        >
          </ngx-charts-bar-vertical>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          Pie Chart
        </mat-card-header>
          <mat-card-content>
            <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [legend]="false"
            [legendPosition]="legendPosition"
            [labels]="true"
            [doughnut]="false"
            (select)="onSelect($event)"
            >
          </ngx-charts-pie-chart>
          </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          Advanced PieChart
        </mat-card-header>
        <ngx-charts-advanced-pie-chart

        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        (select)="onSelect($event)"
        >
      </ngx-charts-advanced-pie-chart>
      </mat-card>
      <mat-card>
        <mat-card-header>
          Polar Chart
        </mat-card-header>
        <ngx-charts-polar-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="false"
        [legendPosition]="legendPosition"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="multi"
        (select)="onSelect($event)">
      </ngx-charts-polar-chart>
      </mat-card>
      <mat-card
      style="
      display: grid;
      grid-column-end: span 4;">
      <div style="display: flex;justify-content: center;">
        <div style="border: 1px black solid;" class="keen-slider" #sliderRef>
          <div style="border: 1px black solid;"
          class="keen-slider__slide"
          *ngFor="let i of single">{{i.name}}</div>
        </div>
      </div>

      </mat-card>
    </div>

  </mat-tab>

</mat-tab-group>



</div>


