
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import "./assets/styleCustom/components/components.scss";
@import "./assets/styleCustom/core/grid.scss";
@import "./assets/styleCustom/layouts/layouts-styling.scss";




// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CursoAvancadoAngular-primary: mat.define-palette(mat.$indigo-palette);
$CursoAvancadoAngular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$CursoAvancadoAngular-warn: mat.define-palette(mat.$red-palette);


//Hue's de tematização dark theme
$CursoAvancadoAngular-primary-dark:mat.define-palette(mat.$pink-palette);
$CursoAvancadoAngular-accent-dark:mat.define-palette(mat.$blue-grey-palette);
$CursoAvancadoAngular-warn-dark:mat.define-palette(mat.$red-palette);



// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$CursoAvancadoAngular-dark-theme: mat.define-dark-theme((
  color:(
    primary:$CursoAvancadoAngular-primary-dark,
    accent:$CursoAvancadoAngular-accent-dark,
    warn:$CursoAvancadoAngular-warn-dark
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$CursoAvancadoAngular-light-theme: mat.define-light-theme((
  color: (
    primary: $CursoAvancadoAngular-primary,
    accent: $CursoAvancadoAngular-accent,
    warn: $CursoAvancadoAngular-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.


/* You can add global styles to this file, and also import other style files */
/* @import "./assets/styles/global.scss"; */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.all-component-themes($CursoAvancadoAngular-light-theme);
@include mat.strong-focus-indicators-theme(purple);

.dark-theme{
  @include mat.all-component-themes($CursoAvancadoAngular-dark-theme);
  @include mat.strong-focus-indicators-theme(purple);
}






