
<!-- Grid container -->

<div class="header">
  <h1 >Componentes prontos</h1>
</div>

<div class="gridMain">

  <!-- Grid item  -->
  <div class="item">
    <mat-card>
      <h3>Formulário de endereço</h3>
      <app-mv-form-schematics>
      </app-mv-form-schematics>
    </mat-card>

  </div>

  <!-- Grid item  -->
  <div class="item">
    <mat-card>
      <h3>Dashboard</h3>
      <app-mv-dashboard>
      </app-mv-dashboard>
    </mat-card>
  </div>


 <div class="item">
  <mat-card>
    <h3>Tabela</h3>
    <app-mv-table>
    </app-mv-table>
  </mat-card>
 </div>

  <div class="item">
    <mat-card>
      <h3>Three</h3>
      <app-mv-tree>
      </app-mv-tree>
    </mat-card>
  </div>
</div>

<div>
  <h2 class="header">Proposta de inputs</h2>
  <form [formGroup]="form"  class="gridMain">


    <div class="item">
      <app-dropdown
        [nameField]="'Drop Down Comun'"
        [list]="lista"
        [disab]="false"
        class="item-comp"
        [mensagem]="this.displayMessage['dropdownComum']"
        [control]="this.dropDown"
        (selected)="getDropDownValue()">
      </app-dropdown>
    </div>
    <div class="item">
      <app-inputnumber
      [nameField]="'Input Number comum'"
      [disab]="false"
      [mensagem]="this.displayMessage['inputNumberComum']"
      [control]="this.inputNumber"
      (selected)="getInputNumberValue()">
      </app-inputnumber>
    </div>
    <div class="item">
      <app-inputtext
      [nameField]="'Input Text comum'"
      [disab]="false"
      [mensagem]="this.displayMessage['inputTextComum']"
      [control]="this.inputText"
      (selected)="getInputTextValue()">
      </app-inputtext>
    </div>

    <div class="item">
      <app-dropdown
        [nameField]="'Drop Down MultiValorado'"
        [list]="lista"
        [disab]="false"
        [mutiplo]="true"
        [mensagem]="this.displayMessage['dropdownMult']"
        [control]="this.DropdownMultiValorado"
        (selected)="getDropdownMultiValoradoValue()">
      </app-dropdown>
    </div>

  <!--   <div class="item-d2">
      <app-inputtext
      [nameField]="'Input Text comum'"
      [disab]="false"
      [mensagem]="this.displayMessage['inputTextComum']"
      [control]="this.inputText"
      (selected)="getInputTextValue()">
      </app-inputtext>

    </div> -->
    <div class="item result">
      <pre>{{this.form.value | json}}</pre>
    </div>

  </form>
</div>
