
@import "../../../assets/styleCustom/core/shadows";
@media screen and (max-width:720px){
  .component-schemas-library{
    display: grid;
    grid-template-areas:
    "h h h h h h"
    "a a a a a a"
    "b b b b b b"
    "c c c c c c"
    "d d d d d d";
    padding: 3rem;
    margin: 3rem;
    background: url(./../../../assets/imgs/Logo_MV_844x348_Colorida_CMYK.png) no-repeat center center;
    border: 0.02rem solid #ccc;
    border-radius: 3rem;
    box-shadow: $shadow-level-1;

    .item-a{

      grid-area:a;
      /* justify-self: center;
      margin-top: 5rem;
      padding: 1rem;
      grid-area:1 / 1 / 5 / 5; */

      }

      .item-b{
        grid-area:b;
       /*  justify-self: stretch;
        padding: 1rem;
        grid-area:1 / 5 / 5 / 10 ; */
      }

      .item-c{
        grid-area:c;
       /*  justify-self: center;
        padding: 1rem;
        grid-area:5 / 1 / 10 / 5; */
      }

      .item-d{
        grid-area:d;
       /*  justify-self: center;
        padding: 1rem;
        grid-area:5 / 5 / 10 / 10; */

      }

      h2{
        grid-area: h ;
      }
    }

}


h1,h2,h3{

  margin-top: 2rem;
  margin-bottom: 2rem;
}

mat-card{
  padding: 3rem;
}



.component-schemas-library{
  display: grid;
  grid-template-areas:
  "h h h h h h"
  "a a a b b b"
  "a a a b b b"
  "c c c d d d"
  "c c c d d d"
  "e e e e e e"
  "e e e e e e";
  grid-gap:2rem;
  padding: 3rem;
  margin: 3rem;
  background: url(./../../../assets/imgs/Logo_MV_844x348_Colorida_CMYK.png) no-repeat center center;
  border: 0.02rem solid #ccc;
  border-radius: 3rem;
  box-shadow: $shadow-level-1;
}

h2{
  grid-area: 1 /1 / 1 / 1 ;
}

.item-a{

grid-area:a;
/* justify-self: center;
margin-top: 5rem;
padding: 1rem;
grid-area:1 / 1 / 5 / 5; */

}

.item-b{
  grid-area:b;
 /*  justify-self: stretch;
  padding: 1rem;
  grid-area:1 / 5 / 5 / 10 ; */
}

.item-c{
  grid-area:c;
 /*  justify-self: center;
  padding: 1rem;
  grid-area:5 / 1 / 10 / 5; */
}

.item-d{
  grid-area:d;
 /*  justify-self: center;
  padding: 1rem;
  grid-area:5 / 5 / 10 / 10; */
}

.component-library{
  display: grid;
  /*        RowStart  ColumnStart  RowEnd   ColumnEnd */
 /*  grid-area: 1       / 1           / 20      / 10; */
  grid-template-areas:
  "h h h h h h"
  "a a a b b b"
  "a a a b b b"
  "c c c d d d"
  "c c c d d d"
  "e e e e e e"
  "e e e e e e";
  mat-select,input{
    background-color: white !important;
  }
  justify-items: center;
  margin: 3rem;
  border: 0.02rem solid #ccc;
  border-radius: 3rem;
  background: url(./../../../assets/imgs/Logo_MV_844x348_Colorida_CMYK.png) no-repeat center center;

  box-shadow: $shadow-level-1;
  &:hover{
    transform: scale(1);
  }
}

  .header-2{
    grid-area: h;
  }

 .item-a2{

  /*        RowStart  ColumnStart  RowEnd   ColumnEnd */
  grid-area:a;

}

.item-b2{

  /*        RowStart  ColumnStart  RowEnd   ColumnEnd */
  grid-area:b;
}

.item-c2{

grid-area:c;
}

.item-d2{
  grid-area: d;
}

.item-e2{
  grid-area: e;
}




