<h1>Material Library</h1>
<hr />
<!-- Grid container -->
<div class="component-schemas-library">

  <h2>Componentes prontos</h2>
  <!-- Grid item  -->
  <div class="item-a">
    <mat-card>
      <h3>Formulário de endereço</h3>
      <app-mv-form-schematics>
      </app-mv-form-schematics>
    </mat-card>

  </div>

  <!-- Grid item  -->
  <div class="item-b">
    <mat-card>
      <h3>Dashboard</h3>
      <app-mv-dashboard>
      </app-mv-dashboard>
    </mat-card>
  </div>


 <div class="item-c">
  <mat-card>
    <h3>Tabela</h3>
    <app-mv-table>
    </app-mv-table>
  </mat-card>
 </div>

  <div class="item-d">
    <mat-card>
      <h3>Three</h3>
      <app-mv-tree>
      </app-mv-tree>
    </mat-card>
  </div>
</div>

<div class="component-library">
  <div class="item-a2">
    <app-dropdown
    [nameField]="'DropDown Comum'"
    [list]="lista"
    (selected)="getSelecaoDrop($event)">
    </app-dropdown>
  </div>


</div>
