
<!-- Grid container -->
<div class="component-schemas-library">

  <h2>Componentes prontos</h2>
  <!-- Grid item  -->
  <div class="item-a">
    <mat-card>
      <h3>Formulário de endereço</h3>
      <app-mv-form-schematics>
      </app-mv-form-schematics>
    </mat-card>

  </div>

  <!-- Grid item  -->
  <div class="item-b">
    <mat-card>
      <h3>Dashboard</h3>
      <app-mv-dashboard>
      </app-mv-dashboard>
    </mat-card>
  </div>


 <div class="item-c">
  <mat-card>
    <h3>Tabela</h3>
    <app-mv-table>
    </app-mv-table>
  </mat-card>
 </div>

  <div class="item-d">
    <mat-card>
      <h3>Three</h3>
      <app-mv-tree>
      </app-mv-tree>
    </mat-card>
  </div>
</div>

<div >
  <form [formGroup]="form" action="" class="component-library">

    <h1 class="header-2">Proposta de inputs</h1>
    <div class="item-a2">
      <app-dropdown
        [nameField]="'Drop Down Comun'"
        [list]="lista"
        [disab]="false"
        [mensagem]="this.displayMessage['dropdownComum']"
        [control]="this.dropDown"
        (selected)="getDropDownValue()">
      </app-dropdown>
    </div>
    <div class="item-b2">
      <app-inputnumber
      [nameField]="'Input Number comum'"
      [disab]="false"
      [mensagem]="this.displayMessage['inputNumberComum']"
      [control]="this.inputNumber"
      (selected)="getInputNumberValue()">
      </app-inputnumber>
    </div>
    <div class="item-c2">
      <app-inputtext
      [nameField]="'Input Text comum'"
      [disab]="false"
      [mensagem]="this.displayMessage['inputTextComum']"
      [control]="this.inputText"
      (selected)="getInputTextValue()">
      </app-inputtext>
    </div>

  <!--   <div class="item-d2">
      <app-inputtext
      [nameField]="'Input Text comum'"
      [disab]="false"
      [mensagem]="this.displayMessage['inputTextComum']"
      [control]="this.inputText"
      (selected)="getInputTextValue()">
      </app-inputtext>

    </div> -->
    <div class="item-e2">
      <pre>{{this.form.value | json}}</pre>
    </div>

  </form>
</div>
